---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";
import type { SiteMeta } from "@/types";
import Analytics from "@vercel/analytics/astro";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
		<Analytics />
	</head>
	<body
		class="w-100 left-0 top-0 z-0 mx-auto flex h-4/5 min-h-screen max-w-3xl flex-col bg-bgColor bg-[url('http://res.cloudinary.com/ddgt1wiwm/image/upload/v1730114926/twenty-four-assets/cu7lchqabfq3dwht0rqp.svg')] bg-contain bg-no-repeat px-4 pt-16 text-base font-normal text-textColor antialiased sm:px-8"
	>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main id="main">
			<slot />
		</main>
		<Footer />
	</body>
</html>
